<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link href="./src/styles/homeStyle.css" rel="stylesheet">
</head>

<body>
  <div id="container">
    <div id="headerArea">
      <div id="header"></div>
      <nav id="navbar">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Create</a></li>
          <li><a href="#">View</a></li>
          <li><a href="#">Play</a></li>
          <li><a href="#">Leaderboard</a></li>
        </ul>
      </nav>
    </div>

    <div id="flex">
      <aside id="leftSidebar">
        <h2>Titulo</h2>
        <div class="box">

          <p> Cosas que tenemos que hacer </p>
          <ul style="padding-left:10px;">
            <li>Falta Hacer el FrontEnd para la Creacion</li>
            <li>Para el Leaderboard</li>
            <li>y para jugar </li>
            <li>Backend para </li>
            <li>falta decidir cual de las dos tareas fue mejor, y usar esa.</li>
            <li>y para jugar </li>

          </ul>
        </div>
        <h2>Hi there!</h2>
        <h3>Other Tools</h3>
        <ul>
          <li><a href="https://sadgrlonline.github.io/html-cheatsheet/" target="_blank">HTML Cheatsheet</a>
          </li>
          <li><a href="/sadgrl/webmastery/webmaster-links.html" target="_blank">Webmaster Links</a></li>
          <li><a href="/sadgrl/webmastery/downloads/tiledbgs.html" target="_blank">Tiled BGs</a></li>
          <li><a href="/sadgrl/webmastery/downloads/fonts.html" target="_blank">Fonts</a></li>
          <li><a href="/sadgrl/projects/ideas/" target="_blank">Site Ideas</a></li>
        </ul>
      </aside>
      <main>
        <h1>Jeopardy Gratis!</h1>
        <p><strong>Please read this first!</strong></p>
        <p>Esta es una herramienta en linea para crear, compartir y disfrutar de juegos de Jeopardy en linea.</p>

        <p>
          <iframe width="314" height="321" scrolling="no"
            src="https://gifypet.neocities.org/pet/pet.html?name=GioPardy&dob=1730092398&gender=f&element=Air&pet=cat.gif&map=night.gif&background=1995.png&tablecolor=white&textcolor=black"
            frameborder="0"></iframe>
        </p>
      </main>
      <aside id="rightSidebar">
        <h2>Updates</h2>
        <div class="box">
          <p>I have recently updated this tool as of August 2022!</p>
          <ul style="padding-left:10px;">
            <li>Rewrote the JS to generate cleaner code</li>
            <li>Rewrote the CSS in a way that hopefully makes much more sense to edit</li>
            <li>Added a couple of new features!</li>
            <li>Old version is still available <a href="old.html" target="_blank">here</a></li>
          </ul>
        </div>
        <h2>Hi there!</h2>
        <h3>Other Tools</h3>
        <ul>
          <li><a href="https://sadgrlonline.github.io/html-cheatsheet/" target="_blank">HTML Cheatsheet</a>
          </li>
          <li><a href="/sadgrl/webmastery/webmaster-links.html" target="_blank">Webmaster Links</a></li>
          <li><a href="/sadgrl/webmastery/downloads/tiledbgs.html" target="_blank">Tiled BGs</a></li>
          <li><a href="/sadgrl/webmastery/downloads/fonts.html" target="_blank">Fonts</a></li>
          <li><a href="/sadgrl/projects/ideas/" target="_blank">Site Ideas</a></li>

        </ul>
      </aside>
    </div>
    <footer id="footer">CC0 Public Domain, 2022</footer>
  </div>
  <!-- Modal and stoff : c -->
</body>

</html>
