<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <!-- Bootstrap CSS -->

  <script src="../controllers/ajax_handler.js"> </script>
  <link href="./../src/styles/signUp.css" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="../controllers/ajax_handler.js"> </script>
  <!-- Custom CSS -->
  <style>
    * {
      font-family: Comic Sans MS;
    }
  </style>

<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-5">
          <div class="card-body">
            <h1 id="h2Over" class="card-title text-center">Sign Up</h1>
            <form id="signup-form">
              <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Choose a username" required>
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Enter your email" required>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Create a password" required>
              </div>
              <div class="mb-3">
                <label for="confirm-password" class="form-label">Confirm Password</label>
                <div id="confirm-password-msg"> </div>
                <input type="password" class="form-control" id="confirm-password" placeholder="Confirm your password"
                  required>
              </div>
              <div class="mb-3">
                <label for="default_image" class="form-label">Choose default_image</label>
                <input id="default_img" type="number" min="1" max="4">
              </div>
              <div class="d-grid">
                <a class="btn btn-success" id="signUp_btn">Sign Up</a>
              </div>
              <div class="text-center mt-3">
                <p>Already have an account? <a href="./login">Login</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Custom JS -->
  <script src="../src/js/signUp.js"></script>
</body>

</html>
