<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link href="css/style.css" rel="stylesheet">
  <style>
    body {
      height: 100px;
      background: linear-gradient(80deg, red, orange, yellow, green, blue, indigo, violet, red);
    }

    div {
      background: white;
    }

    a {
      background: linear-gradient(80deg, red, orange, yellow, green, blue, indigo, violet, red);
    }
  </style>
</head>

<body>
  <img src="https://static.wikia.nocookie.net/silly-cat/images/4/4f/Wire_Cat.png" alt="">
  <br>
  <div>

    not logged in

    <a href="login">
      <h2> goto login</h2>
    </a>
    <a href="home">go back home</a>
  </div>
</body>

</html>
